
HW2/.DS_Store
HW1/.DS_Store
HW1/Tex/.DS_Store
*.aux
*.log
*.gz
*.out
*.cls
HW3/Code/.DS_Store
HW3/Tex/.DS_Store
HW3/.DS_Store
HW1/.DS_Store
HW2/Code/online_news_popularity.csv
HW5/Tex/macros.tex
HW6/Code/.DS_Store
